<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quiet_attick_production.Properties.Settings.film_productionConnectionString"
            connectionString="Data Source=DESKTOP-8C2UC1P\SQLEXPRESS;Initial Catalog=&quot;film production&quot;;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="quiet_attick_production.Properties.Settings.Quiet_Attic_FilmsConnectionString"
            connectionString="Data Source=DESKTOP-8C2UC1P\SQLEXPRESS;Initial Catalog=Quiet_Attic_Films;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="quiet_attick_production.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-KQE6PPD\SQLEXPRESS;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>